$main-bg: #080808;
$content-bg: #181818;
$main-fg: #fff;

$page-width: 800px;


body {
	font-family: sans-serif;
	background-color: $main-bg;
	color: $main-fg;

	margin: 0;
	min-width: min-content;
	justify-content: center;
}

main {
	padding: 8px 16px 32px;
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
	max-width: $page-width;
	background-color: $content-bg;
}

header {
	text-align: center;
}

a:link {
	color: #8bf;
}

a:visited { 
	color: #b8f;
}

.title-link a {
	text-decoration: none;
	color: $main-fg;
	&:visited {
		color: $main-fg;
	}
}

footer {
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	p {
		margin: 5px;
	}
}

img, video {
	max-width: $page-width;
}
