$main-bg: #111;
$content-bg: #222;
$main-fg: #fff;

$page-width: 800px;


body {
	font-family: sans-serif;
	background-color: $main-bg;
	color: $main-fg;

	display: grid;
	grid-template-rows: 50px 1fr auto;

	margin: 0;
	justify-content: center;
}

main {
	padding: 0 32px 64px ;
	// grid-column: 2 / -2;
	width: $page-width;
	// justify-self: center;
	background-color: $content-bg;
}

a:link {
	color: #8bf;
}

a:visited { 
	color: #b8f;
}

.title-link a {
	text-decoration: none;
	color: $main-fg;
	&:visited {
		color: $main-fg;
	}
}

header {
	grid-column: 1 / -1;
	background-color: $main-bg;
	padding: 0;
}

footer {
	grid-column: 1 / -1;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	p {
		margin: 5px;
	}
}

img {
	max-width: $page-width;
}

